{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h4>Extracted data</h4>
<form method="post">
    {% for partition_id, partition_info in data.items() %}
    <div class="card">
        <h5 class="card-header" data-bs-toggle="collapse" href="#b{{ partition_id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="d-flex justify-content-between">
                {{ partition_info["name"] }}
                ({{ partition_info["creation_date"] }})
                <input type="submit" name="delbtn-{{ partition_id }}" value="Delete data"
                       class="btn btn-sm btn-danger">
            </div>
        </h5>
    </div>
    <div class="collapse" id="b{{ partition_id }}">
        <div class="card card-body">
            {% for data_type, extracted_data in partition_info["data"].items() %}
            <div class="card">
                <h5 class="card-header" data-bs-toggle="collapse" href="#{{ data_type }}" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    {{ data_type }}: <b>{{ extracted_data|length }}</b>
                </h5>
                <div class="collapse" id="{{ data_type }}">
                    <div class="card card-body">
                        {% for item in extracted_data %}
                        <ul class="list-group list-group-flush">
                            {% if data_type == 'url' %}
                             <a href={{ item }} class="list-group-item">{{ item }}</a>
                            {% else %}
                             <li class="list-group-item">{{ item }}</li>
                            {% endif %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</form>
{% endblock %}
