{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<p>Available devices</p>
<ul class="list-group">
    {% for item in data %}
    <li class="list-group-item list-group-item-action">{{ item[0] }}
        <span class="list-group-item list-group-item-secondary">Partitions:</span>
        {% for partition in item[1] %}
            <a href="partition/{{ partition[0] }}" class="list-group-item">{{ partition[1] }}</a>
        {% endfor %}
    </li>
    {% endfor %}
</ul>

{% endblock %}