{% extends 'base.html' %}

{% block head %}
<script type = "text/javascript">
function show_loading() {
  var button = document.getElementById('submit-button');
  button.value = 'Extracting data. Please wait...';
}
</script>
{% endblock %}

{% block body %}


<h4>{{ data[0] }}</h4>
<p>{{ data[1] }}</p>
<form method="post">
  <div id="loading"></div>
  <div id="container">
      <form action="/submit_csr" method="POST">
          <input type="submit" id="submit-button" name="submit-button" value="Extract data" class="btn btn-primary" onclick="show_loading()">
      </form>
  </div>

</form>
{% endblock %}
